@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.icon {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
}

html {
  font-family: 'Raleway', sans-serif;
  color: #444;
  background: #FFF;
}
body {
  margin: 0;
}
input, textarea {
  font-family: 'Raleway', sans-serif;
}
section {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
}
header {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #DDD;
}
header section {
  display: table;
  width: calc(100% - 20px);
}
header section > * {
  display: table-cell;
  padding-right: 20px;
}
header section > *:last-child {
  text-align: right;
}
header * {
  vertical-align: middle;
}
header label .icon {
  margin-left: -34px;
  color: #BBB;
}
header input[type=text] {
  padding: 0 40px 0 15px;
  width: calc(100% - 60px);
  height: 45px;
  line-height: 1.25em;
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
