@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.icon {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
}

html {
  font-family: 'Raleway', sans-serif;
  color: #444;
  background: #FFF;
}
body {
  margin: 0;
}
input, textarea {
  font-family: 'Raleway', sans-serif;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover {
  color: #000;
}
section {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 1300px;
}

header {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #DDD;
}
header section {
  display: table;
}
header section > * {
  display: table-cell;
  padding-right: 10px;
}
header section > *:last-child {
  text-align: right;
  padding-right: 0;
}
header * {
  vertical-align: middle;
}
header label .icon {
  margin-left: -34px;
  color: #BBB;
}
header input[type=text] {
  padding: 0 40px 0 15px;
  width: calc(100% - 60px);
  height: 45px;
  line-height: 1.25em;
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

main {
  padding: 40px 0;
}

.categories {
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.categories a {
  display: inline-block;
  margin: 0 20px;
  width: 108px;
  text-align: center;
  vertical-align: top;
  white-space: normal;
}
.categories a:first-of-type { margin-left: 0 }
.categories a:last-of-type { margin-right: 0 }
.categories img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  --border-radius: 50px;
}

.products {
  padding: 0;
}
.products img {
  float: right;
  width: 100px;
  margin: 0 0 10px 10px;
}
.products h4 {
  margin-top: 0;
}
.products a {
  display: inline-block;
  width: calc(50% - 52px);
  min-width: 100px;
  margin: 10px 0;
  padding: 20px;
  list-style: none;
  border: 1px solid #DDD;
  border-radius: 7px;
}
.products a:nth-child(even) {
  margin-left: 20px;
}
